.toggle {
  position: absolute;
  left: 20px;
  top: 20px;
}

.isFocused {
  outline: #4d90fe thin auto;
}

.toggle::after {
  content: "☀️";
  font-size: 18px;
  position: absolute;
  top: 7px;
  left: 37px;
}
.toggle::before {
  content: "🌙";
  font-size: 18px;
  position: absolute;
  top: 7px;
  left: 6px;
  z-index: 1;
}

.input {
  border-radius: 32px;
  width: 64px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.input:hover + span:after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
}
.input:checked + span {
  background: #4a5b90;
}

.input:checked + span:after {
  transform: translate3d(32px, 0, 0);
}

.slider {
  position: relative;
  display: block;
  height: 32px;
  width: 64px;
  border-radius: 32px;
  transition: var(--animation-time) ease-in-out;
  background: #3a9df8;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
}

.slider::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: var(--animation-time) ease-in-out;
  width: 32px;
  height: 32px;
}

.toggle-label {
  position: absolute;
  left: -9000px;
}
