.post {
  margin-bottom: 80px;
}

.post:last-of-type {
  margin-bottom: 10px;
}

.post-title {
  color: #95c623;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: none;
  text-decoration: none;
}

.content {
  line-height: 25px;
}

.date {
  margin-right: 4px;
}

.post .author:hover {
  cursor: pointer;
  color: #95c623;
}

@media (max-width: 700px) {
  .content {
    margin-top: 10px;
    font-size: 0.8rem;
  }
}
