.searchIcon {
  width: 20px;
  height: 20px;
  transition: var(--animation-time) all ease-in-out;
  position: absolute;
  top: 30px;
  right: 30px;
}

.searchIcon::after {
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  transform: translate(10px) rotate(45deg);
  background-color: black;
  color: black;
  transition: var(--animation-time) ease-in-out all;
}

.searchIcon::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid black;
  border-radius: 50%;
  transition: var(--animation-time) ease-in-out all;
}

.searchIcon.searchIconExpanded::before {
  border-radius: 0;
  height: 2px;
  width: 30px;
  transform: translate(-4px, 9px) rotate(-45deg);
  border: none;
  background-color: black;
  color: black;
  transition: var(--animation-time) ease-in-out all;
}

.searchIcon.searchIconExpanded::after {
  width: 30px;
  transition: var(--animation-time) ease-in-out all;
  transform: translate(-4px, 8px) rotate(45deg);
}

.dark .searchIcon::after {
  background-color: white;
}

.dark .searchIcon::before {
  background-color: rgb(13, 34, 56);
  border-color: white;
}

.dark .searchIconExpanded::before {
  background-color: white;
}

.searchIcon:hover {
  cursor: pointer;
}
