.searchIcon {
  width: 20px;
  height: 20px;
  transition: 0.5s all ease-in-out;
  position: absolute;
  top: 30px;
  right: 30px;
}

.searchIcon:hover {
  cursor: pointer;
}

.searchIconExpanded {
  transition: 0.5s all ease-in-out;
  top: 180px;
  right: 75%;
  z-index: 10;
}

.searchIconExpanded:hover {
  cursor: default;
}
