.dark {
  color: rgba(255, 255, 255, 0.884) !important;
  background-color: rgb(13, 34, 56);
  transition: all var(--animation-time) ease-in-out;
}
body,
html {
  margin: 0;
  padding: 0;
  transition: var(--animation-time) ease-in-out all;
  will-change: background-color;
}

:root {
  --animation-time: 0.3s;
}

@media (max-width: 400px) {
  html,
  body {
    font-size: 14px;
  }
}
