.dark {
  color: white !important;
  background-color: rgb(13, 34, 56);
  transition: all var(--animation-time) ease-in-out;
}
body {
  transition: var(--animation-time) ease-in-out all;
  will-change: background-color;
}

:root {
  --animation-time: 0.3s;
}
